/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 700px;
  margin-top: 20px;
}

/* margin for row of buttons */
.button-row {
  margin-top: 20px;
  text-align: center;
}

/* remove blue highlight on click */
.btn:focus,.btn:active {
  outline: none !important;
}

label.focus {
  outline: none !important;
}

input[type="radio"]{
    visibility: hidden;
}

.no-border {
    margin-left: 10px !important;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    width: 90%;
}

.wide-dropdown-menu {
    min-width: 210px;
}
