[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

certifi = "*"
chardet = "*"
dj-database-url = "*"
django = "*"
gunicorn = "*"
idna = "*"
numpy = "*"
"psycopg2" = "*"
python-decouple = "*"
pytz = "*"
requests = "*"
"urllib3" = "*"
whitenoise = "*"


[requires]

python_version = "3.6"