{% load static %}
{% include 'partials/header.html' %}

        <link href="{% static "style/estimate.css" %}" rel="stylesheet">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="center">Enter coordinates or select from the graph below to find estimated weekly income</h3>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <div>Latitude</div>
                                <input class="form-control" id="latitude" placeholder="Enter a value">
                            </div>
                            <div class="col-lg-6">
                                <div>Longitude</div>
                                <input class="form-control" id="longitude" placeholder="Enter a value">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h2 id="result" class="center"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="map"></div>
                    </div>
                </div>
                <br>
                <div>
                    How it works: we calculate the optimal listing price and the estimated mortgage payment for the selected house.
                </div>
                <div> 
                    Check out 37.76339544284912, -122.41826176643372 for some nice profits.
                </div>
    </section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIL77gjKi97qZ3-aBHd6veacf7fruhPAk"></script>
<script src="{% static "/scripts/estimate.js" %}"></script>


{% include 'partials/footer.html' %}