{% load static %}
{% include 'partials/header2.html' %}

        <link href="{% static "style/map.css" %}" rel="stylesheet">
                <div class="row">
                    <div class="button-row col-lg-12">
                        <h3>Select a data field to show on the graph below</h3>
                        <div id="options" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default btn-lg active">
                                <input type="radio" name="options" id="option-1" autocomplete="off" checked>Price
                            </label>
                            <label class="btn btn-default btn-lg">
                                <input type="radio" name="options" id="option-2" autocomplete="off">Bedrooms
                            </label>
                            <label class="btn btn-default btn-lg">
                                <input type="radio" name="options" id="option-3" autocomplete="off">Bathrooms
                            </label>
                            <label class="btn btn-default btn-lg">
                                <input type="radio" name="options" id="option-4" autocomplete="off">Square Feet
                            </label>
                            <label class="btn btn-default btn-lg">
                                <input type="radio" name="options" id="option-5" autocomplete="off">Number of Reviews
                            </label>
                            <label class="btn btn-default btn-lg">
                                <input type="radio" name="options" id="option-6" autocomplete="off">Length of House Rules
                            </label>
                            <div class="btn-group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Other
                                </button>
                                <div class="dropdown-menu wide-dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    {% for k in data.keys %}
                                        <label class="btn btn-default no-border">
                                            <input type="radio" name="options" id="option{{forloop.counter}} " autocomplete="off">{{ k }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="map"></div>
                    </div>
                </div>
    </section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIL77gjKi97qZ3-aBHd6veacf7fruhPAk&libraries=visualization"></script>
<script src="{% static "/heatmap/heatmap.min.js" %}"></script>
<script src="{% static "/heatmap/gmaps-heatmap.js" %}"></script>
<script src="{% static "/scripts/map.js" %}"></script>


{% include 'partials/footer.html' %}