{% include 'partials/header.html' %}


        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="map"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="button-row col-lg-12">
                        <div id="options" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary btn-lg active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>Price
                            </label>
                            <label class="btn btn-primary btn-lg">
                                <input type="radio" name="options" id="option2" autocomplete="off">Bedrooms
                            </label>
                            <label class="btn btn-primary btn-lg">
                                <input type="radio" name="options" id="option3" autocomplete="off">Bathrooms
                            </label>
                            <label class="btn btn-primary btn-lg">
                                <input type="radio" name="options" id="option4" autocomplete="off">Square footage
                            </label>
                            <label class="btn btn-primary btn-lg">
                                <input type="radio" name="options" id="option5" autocomplete="off">Average Review Score
                            </label>
                            <label class="btn btn-primary btn-lg">
                                <input type="radio" name="options" id="option5" autocomplete="off">Length of Description
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

{% include 'partials/footer.html' %}