/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 800px;
  margin-top: 20px;
}

/* margin for row of buttons */
.button-row {
  margin-top: 10px;
  text-align: center;
}

/* remove blue highlight on click */
.btn:focus,.btn:active {
  outline: none !important;
}

label.focus {
  outline: none !important;
}